In [1]:
import pandas as pd

In [2]:
path = 'data/_fixed.csv'
mass_shooting = pd.read_csv(path)

In [3]:
mass_shooting

,case_id,city,state,latitude,longitude,number_of_victim_fatalities,number_of_victims_injured,total_number_of_victims,date,shooter_age,...,shooter_race,type_of_gun,total_number_of_guns,shooter_cause_of_death,place_type,relationship_to_incident_location,targeted_victims,possible_motive,history_of_mental_illness,military_experience
0,1,Austin,Texas,30.198887,-97.844159,16,32,48,1966-08-01,25,...,White American or European American,Multiple guns,7,Killed,College/University/Adult education,Place of schooling,General public,Mental illness,Yes,Yes
1,2,Mesa,Arizona,33.422687,-111.816320,5,1,6,1966-11-12,18,...,White American or European American,Handgun,1,Not applicable,College/University/Adult education,None,Students/Classmates/Teacher,Mental illness,Yes,Unknown
2,3,New Orleans,Louisiana,30.068724,-89.931474,9,13,22,1972-12-31,23,...,Black American or African American,Multiple guns,2,Killed,Government facility,Local government,Government,Race,Yes,Unknown
3,4,Chicago,Illinois,41.839280,-87.688181,1,3,4,1974-01-17,14,...,Unknown,Handgun,2,Not applicable,Primary school,Place of schooling,Students/Classmates/Teacher,Expulsion/Suspension,Yes,Unknown
4,5,Olean,New York,42.081854,-78.432139,3,7,10,1974-12-30,17,...,White American or European American,Multiple guns,2,Not applicable,Secondary school,Place of schooling,General public,Mental illness,No,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,312,Brooksville,Alabama,34.162040,-86.475543,0,4,4,2016-04-19,38,...,White American or European American,Multiple guns,2,Killed,Street/Highway,Unknown,General Public,Unknown,Yes,Unknown
303,313,Baltimore,Maryland,39.290385,-76.612189,0,4,4,2016-04-21,20,...,Black American or African American,handgun,1,Not Applicable,Residential Home/Neighborhood,Unknown,Social,Social Dispute,Unknown,Unknown
304,314,Halifax,Virginia,36.765971,-78.928344,0,6,6,2016-04-24,50,...,Black American or African American,Unknown,0,Suicide,Residential home/Neighborhood,Place of residency,Family,Domestic Dispute,Unknown,NaN
305,315,Forestville,Maryland,38.845113,-76.874972,1,4,5,2016-04-26,Unknown,...,Unknown,Unknown,0,Not Applicable,Street/Highway,Unknown,Unknown,Unknown,Unknown,Unknown
306,316,Ferguson,Missouri,38.744217,-90.305391,0,4,4,2016-04-29,Unknown,...,Unknown,Unknown,0,Not Applicable,Residential home/Neighborhood,Unknown,Unknown,Social Dispute,Unknown,Unknown

In [4]:
mass_shooting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   case_id                            307 non-null    int64
 1   city                               307 non-null    object
 2   state                              307 non-null    object
 3   latitude                           307 non-null    float64
 4   longitude                          307 non-null    float64
 5   number_of_victim_fatalities        307 non-null    int64
 6   number_of_victims_injured          307 non-null    int64
 7   total_number_of_victims            307 non-null    int64
 8   date                               307 non-null    object
 9   shooter_age                        307 non-null    object
 10  shooter_sex                        307 non-null    object
 11  shooter_race                       307 non-null    object
 12  type_of_gun                        307 non-null    object
 13  total_number_of_guns               307 non-null    int64
 14  shooter_cause_of_death             307 non-null    object
 15  place_type                         307 non-null    object
 16  relationship_to_incident_location  306 non-null    object
 17  targeted_victims                   306 non-null    object
 18  possible_motive                    306 non-null    object
 19  history_of_mental_illness          307 non-null    object
 20  military_experience                301 non-null    object
dtypes: float64(2), int64(5), object(14)
memory usage: 50.5+ KB

In [5]:
mass_shooting['date'] = pd.to_datetime(mass_shooting['date'])

In [6]:
group_year = mass_shooting.groupby(mass_shooting.date.dt.year)['total_number_of_victims'].sum()
group_year

date
1966     54
1971      5
1972     22
1974     14
1976     17
1979     18
1982     14
1983     18
1984     61
1985      7
1986     29
1987     20
1988     43
1989     59
1990     17
1991     70
1992     30
1993     75
1994     42
1995     17
1996     13
1997     37
1998     58
1999     97
2000      7
2001     24
2002      9
2003     23
2004     19
2005     31
2006     37
2007    116
2008     53
2009     98
2010     16
2011     64
2012    184
2013    100
2014     88
2015    355
2016    336
Name: total_number_of_victims, dtype: int64

In [8]:
victim_year = pd.DataFrame(group_year, columns=['total_number_of_victims'])
victim_year

      total_number_of_victims
date
1966                       54
1971                        5
1972                       22
1974                       14
1976                       17
1979                       18
1982                       14
1983                       18
1984                       61
1985                        7
1986                       29
1987                       20
1988                       43
1989                       59
1990                       17
1991                       70
1992                       30
1993                       75
1994                       42
1995                       17
1996                       13
1997                       37
1998                       58
1999                       97
2000                        7
2001                       24
2002                        9
2003                       23
2004                       19
2005                       31
2006                       37
2007                      116
2008                       53
2009                       98
2010                       16
2011                       64
2012                      184
2013                      100
2014                       88
2015                      355
2016                      336

In [12]:
victim_year.to_csv('Data/victim_year.csv', index = True)

NameError: name 'mass_shooting' is not defined